<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"> </script>
  </head>
  <body>
    <button id="ajax_to_root">Run AJAX Request to Root</button>
    <button id="ajax_to_ping_pong">Run AJAX Request to Ping/Pong</button>
    <button id="ajax_to_count">Run AJAX Request to Count</button>
    <button id="ajax_to_time">Run AJAX Request to Time</button>
    <button id="ajax_to_car">Run AJAX Request to A Car</button>
    <section id="responses">
      <ul id="our_list">
      </ul>
    </section>
  </body>
</html>
